{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="resume-container">
            <h1>Biographie</h1>
        <div class="resume-fr">
            <h6>FRENCH</h6>
            <p>Né en 1991 à Paris, Victor grandit dans la passion des arts. Il décide de se former dans un premier temps à la cuisine et fait ses classes dans de grandes maisons parisiennes. Il entreprend ensuite de longs voyages en Europe, en Asie et en Amérique Latine où il aiguise son regard au contact de cultures différentes. Si la cuisine lui ouvre sans cesse plus de portes, cela ne lui suffit plus et son désir de créer du mobilier et des objets d’art le rattrape. Il crée ses premières pièces impor- tantes en Sicile avant de s’installer dans un atelier à Paris où il continue ses recherches tout en créant des pièces uniques pour des particuliers.</p>
        </div>
        <hr class="separation" />
        <div class="resume-en">
                <h6>ENGLISH</h6>
            <p>
                Né en 1991 à Paris, Victor grandit dans la passion des arts. Il décide de se former dans un premier temps à la cuisine et fait ses classes dans de grandes maisons parisiennes. Il entreprend ensuite de longs voyages en Europe, en Asie et en Amérique Latine où il aiguise son regard au contact de cultures différentes. Si la cuisine lui ouvre sans cesse plus de portes, cela ne lui suffit plus et son désir de créer du mobilier et des objets d’art le rattrape. Il crée ses premières pièces impor- tantes en Sicile avant de s’installer dans un atelier à Paris où il continue ses recherches tout en créant des pièces uniques pour des particuliers.</p>
        </div>
        <hr class="separation" />
    </div>

</div>
{% endblock content %}