{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="resume-container">
    <h1>BIOGRAPHIE</h1>
    <div class="resume-fr">
      <h6>Fr</h6>
      <p>
        Victor de Rossi est né à Paris en 1991, d’un père italien et d’une mère
        américaine. Il grandit au sein d’une famille artistique, son père étant
        sculpteur et créateur de mobilier. Dès seize ans, Victor choisit de se
        différencier à travers la cuisine. Il intègre de prestigieuses maisons
        gastronomiques parisiennes. Il y apprend une discipline et une rigueur
        qu’il continue d’appliquer dans son travail. Depuis 2016, Victor
        travaille dans son atelier de la goutte d’or à Paris. Il est persuadé
        que la recherche de nouvelles formes dans le mobilier d’art passe par la
        fabrication manuelle des oeuvres. C’est de cette impulsion mêlée à un
        travail direct de la matière que naissent ses créations et qu’elles
        deviennent plus organiques. Ce travail intuitif donne à chaque oeuvre
        son caractère unique.
      </p>
    </div>

    <hr class="separation" />
    <div class="resume-en">
      <h6>En</h6>
      <p>
        Victor de Rossi is born in Paris in 1991, from an Italian father and
        American mother. He grew up in an artistic environment his father being
        a sculptor and furniture designer. At sixteen, Victor chooses to carve
        his own path through the culinary world. He joins prestigious Parisian
        restaurants. The discipline and rigour he will learn there will shape
        his work ethic. Since 2016, Victor has a work shop in the 18th
        arrondissement of Paris. He strongly believes that the only way to find
        truly original shapes in furniture design is through manual carving. The
        direct sourcing and manipulation of materials gives the objects an
        organic feel. Victor’s intuitive way of working gives every piece a
        unique character.
      </p>
    </div>

    <hr class="separation" />
  </div>
</div>
{% endblock content %}
