{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="contact-container">
        <h1 class="text-center">Contact</h1>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="photo-contact">

                </div>
                </div>
                <div class="col-xs-12 col-md-6 carte-contact">
                    <div class="contact-info">
                        <h1>Contact</h1>
                        <p>Victor de Rossi</p>
                        <p>Atelier 18</p>
                        <p>+33 (0) 7 78 89 90 00</p>
                        <p>Email:  <a href="mailto:david.crenin@gmail.com"> Victorderossi@gmail.com</a></p>
                    </div>
                </div>
            </div>
       
    </div>

</div>
{% endblock content %}