<div class="footer-container">
    <div class="footer-nav-link">
        <ul>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">Plan du site</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="https://www.instagram.com/victorderossi_atelier/" target="_blank">Instagram</a></li>
        </ul>
    </div>

    <div class="footer-copyright">
        <p>© Victor De Rossi, Paris. 2019 - Designed & developed by Crnn</p>
    </div>
</div>