{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="banner-container">
        <div class="banner-text">
            <h3>Victor de Rossi</h3>
            <p>Artiste - Mobilier d'Art</p>
    
        </div>
    </div>

    <div class="product-list-container">
        <div class="header-text">
            <h4 class="text-center">Découvrir les oeuvres</h4>
        </div>
        <div class="row">
            {% for product in product_name %}
              {% if product.visible_home == True %}
            <div class="col-xs-12 col-md-4">
                
                <img src="{{ product.image.url }}" alt="" height="250px" >
                <h6>{{ product.name}}</h6> 
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>



{% endblock content%}