{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="banner-container">
        <div class="banner-text" data-aos="fade-left" 
        data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="10000"
    data-aos-easing="ease-in-out">
            <h3>Victor De Rossi</h3>
            <p>Mobilier</p>
    
        </div>
    </div>

    <div class="product-list-container">
        <div class="header-text">
            <h4 class="text-center">Créations</h4>
        </div>
        <div class="row">
            {% for product in product_name %}
              {% if product.visible_home == True %}
            <div class="col-xs-12 col-sm-6 col-md-4" data-aos="zoom-out">
                
                <a href="{% url 'product-detail' product.id %}">
                        <div class="card">
                            <div class="card-image img-fluid" style="background-image: url('{{ product.image.url }}');">
                                    
                                </div>
                                <div class="card-text">
                                    <p> {{ product.name.upper }}</p>
                                    
                            </div>
                        </div></a>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

<script>
    AOS.init();
  </script>

{% endblock content%}