<ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">VICTOR DE ROSSI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mentions' %}">Mentions légales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
      </ul>