{% load static %}
<div class="nav-container">
  <div class="nav-logo-container">
    <h6 class="hidden-xs hidden-sm"><a href="{% url 'home' %}">VICTOR DE ROSSI</a></h6>
    <a href="#" class="hidden-md hidden-lg"><img src="{% static 'pages/images/vdr-logo.svg'%}" alt="" width="100px" height="35px"></a>
  </div>

  <div class="nav-link-container">
    <ul>
      <li class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </li>
    </ul>
  </div>
</div>




<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
            <li>
                <a href="{% url 'projects' %}">Series</a>
              </li>
              <li class="">
                <a href="{% url 'products' %}">Works
                </a>
              </li>
              <li class="">
                <a href="{% url 'about' %}">About</a>
              </li>
              <li class="">
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
        </ul>
    </nav>
</div>

<script>
$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });
</script>