{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="navigation">
        <a href="{% url 'home' %}">ACCUEIL</a> / PRODUCT
    </div>
        <div class="header-project-index">
            <h1>Mobilier</h1>
        
            
        <div class="row">
                {% for product in object_list %}
            <div class="col-xs-12 col-sm-4 card-project-index" >
                    <a href="{% url 'product-detail' product.id %}">
                <div class="card">
                    <div class="card-image" style="background-image: url('{{ product.image.url }}');">
                            
                        </div>
                        <div class="card-text">
                            <p> {{ product.name.upper }}</p>
                            
                    </div>
                </div></a>
            </div>
            {% endfor %}   
        </div>
    </div>
    </div>
{% endblock content%}
