{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="header-project-index">
        <h4>Sujets d'étude</h4>
    </div>
        
    <div class="row">
            {% for project in object_list %}
        <div class="col-xs-12 col-sm-6 card-project-index">
            <img src="{{ project.image.url }}" alt="" height="250px">
            <p><a href="{% url 'project-detail' project.id %}"> {{ project.name }}</a></p>
        </div>
        {% endfor %}   
    </div>
</div>
{% endblock content%}