@font-face {
    font-family: 'Futura';
    src: local('FuturaPTMedium'),
        url('../fonts/FuturaPTMedium.otf') format("opentype");
}

@font-face {
    font-family : 'Futuralight';
    src: local('FuturaPTLight'),
    url('../fonts/FuturaPTLight.otf') format("opentype");
}