.banner-container {
    height: 700px;
    margin: 30px 0;
    background: url('../images/home2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte {
    padding: 20px;
    border: 1px solid red;
}

.header-text {
    height: 70px;
    background-image: url('../images/banner-decouvrir.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    h4 {
        color: white;
        font-size: 28px;
    }
}

.banner-text {
    background: #00000052;
    padding: 40px;
    text-align: center;
    h3, p {
        color: white;
        font-size: 25px;
    } h3 {
        font-size: 43px;
    }
}

.card-text p {
    color: #000000ab;
    text-decoration: none;
    font-family: Futura;
    font-size: 16px;
}
@media screen and (max-width: 650px) {
   .header-text {
    background-image: url('../images/banner-decouvrir-min.svg');
    background-size: cover;
    background-position: center;
    h4 {
        font-size: 24px
    }
   }
}