.banner-container {
  height: 700px;
  margin: 30px 0;
  background: url("../images/home2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.carte {
  padding: 20px;
  border: 1px solid red; }

.header-text {
  height: 70px;
  background-image: url("../images/banner-decouvrir.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0; }
  .header-text h4 {
    color: white;
    font-size: 28px; }

.banner-text {
  background: #00000052;
  padding: 40px;
  text-align: center; }
  .banner-text h3, .banner-text p {
    color: white;
    font-size: 25px; }
  .banner-text h3 {
    font-size: 43px; }

.card-text p {
  color: #000000ab;
  text-decoration: none;
  font-family: Futura;
  font-size: 16px; }

#myBtn {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 20px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #e9e9eb;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  border-radius: 3px; }
  #myBtn img {
    height: 30px;
    width: 30px;
    background-color: none; }

#myBtn:hover {
  opacity: 0.7; }

@media screen and (max-width: 650px) {
  .header-text {
    background-image: url("../images/banner-decouvrir-min.svg");
    background-size: cover;
    background-position: center; }
    .header-text h4 {
      font-size: 24px; } }

.nav-container {
  background: url("../images/nav.svg") no-repeat;
  background: linear-gradient(90deg, #424242 0%, #262626 40%, #000405 96%);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  height: 70px;
  box-shadow: 0 2px 2px #4c4b4b26; }
  .nav-container h6 {
    margin-left: 20px; }

.nav-link-container ul > li {
  display: inline;
  text-align: center;
  padding: 0 15px; }

.nav-link-container ul {
  margin: 0; }

.nav-link-container li > a {
  color: white; }
  .nav-link-container li > a:hover {
    text-decoration: none;
    opacity: 0.2; }

.nav-logo-container h6 > a {
  color: black;
  text-decoration: none;
  font-family: Futura;
  font-size: 30px; }
  .nav-logo-container h6 > a h6 {
    margin: 0; }

.button_container {
  position: absolute;
  top: 20px;
  right: 60px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF; }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF; }
  .button_container span {
    background: #d0d0d0;
    border: none;
    height: 3px;
    width: 42px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    border-radius: 3px; }
    .button_container span:nth-of-type(2) {
      top: 11px;
      width: 75%; }
    .button_container span:nth-of-type(3) {
      top: 22px;
      width: 94%; }
    .button_container span .top {
      width: 96%; }

.overlay {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 80; }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden;
        font-size: 30px;
        font-family: 'Futura'; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #FFF;
          transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@media screen and (max-width: 650px) {
  .nav-container {
    background: url("../images/nav-min.svg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 55px; }
  .nav-logo-container h6 > a {
    font-size: 24px; }
  .nav-logo-container a > img {
    height: 40px;
    width: auto; }
  .banner-container {
    height: 55vh; }
  .button_container {
    right: 40px;
    top: 14px; }
  .card-image {
    height: 275px; }
  .product-container {
    margin: 40px 0; } }

.footer-nav-link {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url("../images/footer.svg");
  background-size: cover;
  background-position: center; }
  .footer-nav-link a {
    color: white;
    padding: 0px 40px; }
  .footer-nav-link ul > li {
    display: inline;
    text-align: center; }
  .footer-nav-link ul {
    padding: 0; }

.footer-copyright p {
  text-align: center; }

@media screen and (max-width: 650px) {
  .footer-nav-link a {
    padding: 0 15px; }
  .contact-info {
    padding: 58px; } }

.header-project-index {
  margin: 50px 0; }
  .header-project-index h1 {
    margin-bottom: 50px;
    font-size: 30px;
    font-family: Futura; }

.card-project-index a {
  color: black;
  text-decoration: none;
  margin-top: 20px; }

.card {
  border: none;
  background: transparent; }

.card-image {
  height: 350px;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 3px 6px #80808063; }

.card-text p {
  margin-top: 20px; }

@font-face {
  font-family: 'Futura';
  src: local("FuturaPTMedium"), url("../fonts/FuturaPTMedium.otf") format("opentype"); }

@font-face {
  font-family: 'Futuralight';
  src: local("FuturaPTLight"), url("../fonts/FuturaPTLight.otf") format("opentype"); }

.resume-container {
  min-height: 700px;
  margin: 50px 0; }
  .resume-container h1 {
    margin-bottom: 100px; }

.resume-fr {
  margin-bottom: 100px; }
  .resume-fr h6 {
    font-size: 25Px;
    margin-bottom: 20px; }
  .resume-fr p {
    color: #4c4b4bd1; }

.resume-en {
  margin-bottom: 100px; }
  .resume-en h6 {
    font-size: 25Px;
    margin-bottom: 20px; }
  .resume-en p {
    color: #4c4b4bd1; }

.product-container {
  margin: 50px 0px; }

.text-description-product {
  margin: 0; }
  .text-description-product a {
    margin: 0; }
  .text-description-product p {
    font-size: 16px; }

.btn {
  position: relative;
  display: block;
  max-width: 170px;
  /* padding: 10px 20px; */
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000;
  overflow: hidden;
  transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
  z-index: 1; }
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 300ms ease-out 200ms; }
  .btn:hover {
    color: white;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.1); }
    .btn:hover:after {
      transform: scaleX(1);
      transform-origin: 50% 50%;
      transition: transform 300ms ease-out; }

/* ====================================================================================================================
   * FONT-FACE
   * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #c5c5c50f;
  border: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
   * BASE STYLES
   * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
  background-color: #c5c5c50f; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
   * DEFAULT THEME
   * ====================================================================================================================*/
.flexslider {
  margin: 0 0 10px;
  background-color: white;
  border: 4px solid #c5c5c50f;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

#slider img {
  height: auto;
  max-width: 100%; }

#carousel img {
  height: 100px; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none; } }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

div#carousel.flexslider {
  background: transparent; }

/* ====================================================================================================================
   * RESPONSIVE
   * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

@media screen and (max-width: 650px) {
  #slider img {
    height: auto;
    max-width: 100%; } }

.photo-contact {
  background: url("../images/contactus.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px; }

.contact-container {
  margin: 50px 0;
  min-height: 700px; }
  .contact-container h1 {
    margin-bottom: 50px; }

.carte-contact {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact-info {
  padding: 100px;
  background: linear-gradient(90deg, #424242 0%, #262626 40%, #000405 96%);
  color: white; }
  .contact-info p {
    font-size: 18px; }
  .contact-info p > a {
    color: white;
    text-decoration: none; }
  .contact-info a:hover {
    text-decoration: underline; }

@media screen and (max-width: 650px) {
  .photo-contact {
    height: 300px;
    margin-bottom: 30px; }
  .carte-contact {
    height: 300px;
    margin-top: 20px; }
  .contact-info {
    padding: 60px; }
  .contact-container {
    min-height: auto; } }

.navigation {
  margin: 20px 0; }
  .navigation a {
    color: black;
    text-decoration: none;
    font-size: 16px; }

body {
  font-family: 'FuturaLight';
  background-color: #c5c5c50f;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23fdfdfc' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23fbfbfa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23f9f9f7' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23f8f6f5' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23f6f4f2' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23f4f2f0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23f2f0ed' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

hr.separation {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
  margin: 50px 0; }

/*# sourceMappingURL=style.css.map */