


.footer-nav-link {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
        color: white;
        padding: 0px 40px;
    } ul > li {
        display: inline; 
        text-align: center;
        
    } ul {
        padding: 0;
    }
}

.footer-copyright p {
    text-align:  center;
}

.bg-footer {
    background: url('../images/footer.svg');
    background-size: cover;
    background-position: center;
    height: 30px;
}

@media screen and (max-width: 650px) {
    .footer-nav-link a {
        padding: 0 20px;
    }
}