.nav-container {
    background: url('../images/nav.svg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    h6 {
        margin-left: 30px;
    }
}

.nav-link-container ul > li {
    display: inline;
    text-align: center;
    padding: 0 15px;
    
}

.nav-link-container ul {
    margin: 0;
}
.nav-link-container li > a {
    color: white; 
    &:hover {
        text-decoration: none;
        opacity: 0.2;
    }
}

.nav-logo-container h6 > a  {
    color: black;
    text-decoration: none;
}